html {
	font-size: 62.5%;
}
html,
body {
	font-family: "Roboto", sans-serif;
	/* font-family: 'Rock Salt', cursive; */
	color: #313638;
	height: 100%;
	/* background-color: #313638; */
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.8rem;
}
p {
	margin-bottom: 10px;
}
.container {
	margin: 0 auto;
	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
	height: 100%;
	max-width: 1020px;
}

.headerWrap {
	display: flex;
	/* justify-content: space-between; */
	justify-content: center;
	align-items: center;
	/* align-items: baseline; */
	padding: 5px 15%;
	background-color: #e8e9eb;
}

.bodyWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* color: gray; */
}
.portfolio {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}
