html {
	font-size: 62.5%;
}
html,
body {
	font-family: 'Roboto', sans-serif;
	/* font-family: 'Rock Salt', cursive; */
	color: #313638;
	height: 100%;
	/* background-color: #313638; */
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.8rem;
}
p {
	margin-bottom: 10px;
}
/* Custom Styling */
/* .header {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	font-family: 'roboto', Courier, monospace;
	padding-top: 10px;
	align-items: baseline;
}
.logo {
	font-size: 2.5rem;
}
nav {
	font-size: 1.8rem;
}

nav a {
	margin: 0 15px;
	text-decoration: none;
} */
.container {
	margin: 0 auto;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	max-width: 1020px;
}

.headerWrap {
	display: flex;
	/* justify-content: space-between; */
	justify-content: center;
	align-items: center;
	/* align-items: baseline; */
	padding: 5px 15%;
	background-color: #e8e9eb;
}
/* @media (min-width: 1200px) {
	.headerWrap {
		max-width: 800px;
	}
} */

/* nav a {
	margin-left: 20px;
	text-decoration: none;
	color: #2b2b2b;
}
.headerWrap .logo {
	font-size: 4rem;
	text-decoration: none;
	font-weight: 500;
	color: #2b2b2b;
}
@media (max-width: 500px) {
	.headerWrap .logo {
		margin-bottom: 10px;
	}
}

.jumbotron {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	width: 100%;
	margin: 15px auto;
} */

.bodyWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* color: gray; */
}
.portfolio {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}
/* @media (min-width: 1200px) {
	.portfolio {
		justify-content: space-around;
	}
} */
/* footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 2px solid #383838;
}
footer nav a {
	text-decoration: none;
	color: #383838;
} */

/* ReactStrap Mods */
/* .card {
	max-width: 320px;
	margin: 5px 10px;
}
.card-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.btn {
	margin-bottom: 10px;
	font-size: 1.6rem;
}
.card-header {
	font-size: 2rem;
}

.card-header img {
	width: 320px;
	height: 250px;
} */

/* Conctact Form */
/* .contactForm {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 15px auto 0;
}
.contactInput {
	margin-bottom: 15px;
}
.tags{
	display: flex;
	justify-content: center;
}
.tag{
	font-size: 3.5rem;
		margin-right: 10px;
} */
